flows (1).json
[{"id":"b5233832.5d0db8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e10c84a3.be5738","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"v20z2j.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"53b8c597.6cd4bc","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#b30059","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#b30059","edited":true},"page-titlebar-backgroundColor":{"value":"#b30059","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#ff007f","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#b30059","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Smart Agriculture system based on IoT","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"99bbd463.008b88","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"6faaf18b.a3f09","type":"ui_group","z":"","name":"SENSOR DATA","tab":"99bbd463.008b88","order":1,"disp":true,"width":12,"collapse":false},{"id":"dd293e6c.eb68c","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"v20z2j.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"e0f3103a.91082","type":"ui_group","z":"","name":"WEATHER API","tab":"99bbd463.008b88","order":2,"disp":true,"width":12,"collapse":false},{"id":"500bcffc.59e2","type":"ui_group","z":"","name":"MOTOR CONTROL","tab":"99bbd463.008b88","order":3,"disp":true,"width":12,"collapse":false},{"id":"ac5e2caf.87617","type":"ui_spacer","name":"spacer","group":"6faaf18b.a3f09","order":4,"width":6,"height":1},{"id":"a5f92583.c62568","type":"ui_spacer","name":"spacer","group":"6faaf18b.a3f09","order":5,"width":6,"height":1},{"id":"23244c55.e35eb4","type":"ui_spacer","name":"spacer","group":"6faaf18b.a3f09","order":6,"width":6,"height":1},{"id":"796701ff.faef9","type":"ui_spacer","name":"spacer","group":"6faaf18b.a3f09","order":7,"width":6,"height":1},{"id":"da63cf00.66fb5","type":"ui_spacer","name":"spacer","group":"500bcffc.59e2","order":1,"width":1,"height":1},{"id":"e7f63089.fd695","type":"ui_spacer","name":"spacer","group":"500bcffc.59e2","order":3,"width":1,"height":1},{"id":"f697b996.0e1a18","type":"ui_spacer","name":"spacer","group":"500bcffc.59e2","order":4,"width":1,"height":1},{"id":"868fe530.563988","type":"ui_spacer","name":"spacer","group":"500bcffc.59e2","order":6,"width":1,"height":"2"},{"id":"5a04cdb5.a345d4","type":"ibmiot in","z":"b5233832.5d0db8","authentication":"apiKey","apiKey":"e10c84a3.be5738","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"001","applicationId":"","deviceType":" IoTdevice","eventType":"iotsensor","commandType":"iotsensor","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":150,"y":680,"wires":[["b69d63c0.a3a95","f7f6bc1f.51773","891d04e4.f99948","d9ade3.837ec22"]]},{"id":"b69d63c0.a3a95","type":"debug","z":"b5233832.5d0db8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":680,"wires":[]},{"id":"f7f6bc1f.51773","type":"function","z":"b5233832.5d0db8","name":"Temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":640,"wires":[["594c4c2b.3c0684"]]},{"id":"891d04e4.f99948","type":"function","z":"b5233832.5d0db8","name":"Humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":720,"wires":[["359995fc.8b878a"]]},{"id":"594c4c2b.3c0684","type":"ui_gauge","z":"b5233832.5d0db8","name":"","group":"6faaf18b.a3f09","order":1,"width":6,"height":4,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":640,"wires":[]},{"id":"359995fc.8b878a","type":"ui_gauge","z":"b5233832.5d0db8","name":"","group":"6faaf18b.a3f09","order":2,"width":6,"height":4,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":720,"wires":[]},{"id":"d9ade3.837ec22","type":"function","z":"b5233832.5d0db8","name":"Soil moisture","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":760,"wires":[["2fb65a8b.daa596"]]},{"id":"2fb65a8b.daa596","type":"ui_gauge","z":"b5233832.5d0db8","name":"","group":"6faaf18b.a3f09","order":3,"width":6,"height":4,"gtype":"gage","title":"Soil moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":760,"wires":[]},{"id":"5a2624f2.fd52fc","type":"http request","z":"b5233832.5d0db8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Mumbai,IN&units=metric&appid=a47afd2aed803fcab7cec54c2f815e74","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":900,"wires":[["e9438d97.31087","ba9c0f67.abf28","8490d6bf.55ffa8","f97fb189.3cae2"]]},{"id":"e5206471.745cc8","type":"inject","z":"b5233832.5d0db8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"1","x":210,"y":900,"wires":[["5a2624f2.fd52fc"]]},{"id":"98f60aec.b91228","type":"ui_text","z":"b5233832.5d0db8","group":"e0f3103a.91082","order":1,"width":0,"height":0,"name":"","label":"Temperature ","format":"{{msg.payload}}°C","layout":"row-spread","x":770,"y":840,"wires":[]},{"id":"d7001cc4.2fddb","type":"ui_text","z":"b5233832.5d0db8","group":"e0f3103a.91082","order":2,"width":0,"height":0,"name":"","label":"Humidity ","format":"{{msg.payload}}%","layout":"row-spread","x":760,"y":880,"wires":[]},{"id":"e9438d97.31087","type":"function","z":"b5233832.5d0db8","name":"Temp API","func":"msg.payload=msg.payload.main.temp\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":840,"wires":[["98f60aec.b91228"]]},{"id":"ba9c0f67.abf28","type":"function","z":"b5233832.5d0db8","name":"Humidity API","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":880,"wires":[["d7001cc4.2fddb"]]},{"id":"7cd600b.a35be","type":"ibmiot out","z":"b5233832.5d0db8","authentication":"apiKey","apiKey":"e10c84a3.be5738","outputType":"cmd","deviceId":"1","deviceType":"iot","eventCommandType":"motor","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":920,"y":700,"wires":[]},{"id":"f0375542.9299a8","type":"ui_button","z":"b5233832.5d0db8","name":"","group":"500bcffc.59e2","order":2,"width":10,"height":1,"passthru":false,"label":"Motor on ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":780,"y":680,"wires":[["7cd600b.a35be"]]},{"id":"d73dba41.b8abd8","type":"ui_button","z":"b5233832.5d0db8","name":"","group":"500bcffc.59e2","order":5,"width":10,"height":1,"passthru":false,"label":"Motor off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"str","topic":"","x":780,"y":720,"wires":[["7cd600b.a35be"]]},{"id":"8490d6bf.55ffa8","type":"function","z":"b5233832.5d0db8","name":"Pressure API","func":"msg.payload=msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":920,"wires":[["4358e67a.8b7d18"]]},{"id":"f97fb189.3cae2","type":"function","z":"b5233832.5d0db8","name":"Wind speed API","func":"msg.payload=msg.payload.wind.speed\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":960,"wires":[["b8d3c42c.c19c08"]]},{"id":"4358e67a.8b7d18","type":"ui_text","z":"b5233832.5d0db8","group":"e0f3103a.91082","order":3,"width":0,"height":0,"name":"","label":"Pressure","format":"{{msg.payload}} hpa","layout":"row-spread","x":760,"y":920,"wires":[]},{"id":"b8d3c42c.c19c08","type":"ui_text","z":"b5233832.5d0db8","group":"e0f3103a.91082","order":4,"width":0,"height":0,"name":"","label":"Wind speed","format":"{{msg.payload}} m/s","layout":"row-spread","x":770,"y":960,"wires":[]}]